#listaProductos, #listaPendientes, #listaClientes {
    overflow-y: scroll;
    background-color: gray;
    width: 70vmin;
    height: 40vmin;
    max-width: 100%;
    max-height: 60vh;
}

#listaClientes .entradaLista {
    -webkit-user-select: none;
    user-select: none;
}

#listaClientes .entradaLista:hover {
    background-color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    #listaProductos, #listaPendientes, #listaClientes {
        width: 95vw;
        height: 30vh;
    }
}