@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

h1, h2, h3{
  text-align: center;
}

#degrade {
  background: linear-gradient(to top, #284f93db 0%, #fff 100%);
  padding-bottom: 0vw;
}