*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
<<<<<<< HEAD
  background-color: w ;
=======
  background-color: rgb(255, 255, 255);
>>>>>>> 7a1173d (cosas no muy guau)
}
