.banner{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #343a40;
    border-bottom: 1px solid #dee2e6;
    background-image: url(img/banner/BLWEB--BANCOS\ SIN\ DATOS.jpg);
    filter: blur( 0px );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    position: relative;
    width: 100%;    
    height: 300px;
    padding-top: 300px; 
    padding-bottom: 100px;
}
