.destination-list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    padding: 20px;
    position: relative;
    scroll-behavior: smooth; 
    overflow-x: auto;        
    white-space: nowrap;    
    scrollbar-width: none;   
    -ms-overflow-style: none; 
}
.destination-list::-webkit-scrollbar {
    display: none;
}

#viaje {
    display: inline-block; 
    margin-right: 20px;
}

.destination-list li {
    display: inline-block;
    margin-right: 20px;
    flex: 0 0 auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 10px;
    border-radius: 10%;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}