form {
    flex-wrap: wrap;
    gap: 15px;
    background-color: #2c0077; /* fondo violeta */
    padding: 30px;
    padding-top: 5px ;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 60%;
    position: relative;
    top : 35px; 
    left: 350px;
    max-height: 180px;
}
form input[type="text"],
form input[type="date"] {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    min-width: 180px;
    background-color: white;
    color: black;
    font-size: 14px;
    outline: none;
}

form button[type="submit"] {
    background-color: #e50914;
    height: 50px;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
        /* position: absolute;
        right: 40px;
        bottom: 35px ; */
}

form button[type="submit"]:hover {
    background-color: #cc0812;
}
form button[type="submit"]:active {
    background-color: #b00710;
}
.tipo-viaje{
    display: flex;
    gap: 45px;
    background-color: transparent;
}

#tipo-viaje{
    color: black;
    font-weight: 900;
    cursor: pointer;                                                                                                          
    width: 100px;
    height: 35px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 30px;
}
.datos-viaje{
    display: flex;
    gap: 15px;
}
div h3{
    color: white;
}