



@media (max-width: 600px) {
    #catalogo {
        width: 98vw;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90vw;
        height: auto;
        padding: 1rem 0.5rem;
    }

        .card .descripcion {
        font-size: 1em;
    }
    .card .nombre {
        font-size: 1.05em;
    }
}